<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    body {
      //  overflow: hidden;
    }
    #editor {
        margin: 0;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
	width: 100%;
	height: 90vh;
    }
  </style>

</head>
<body>
<select id="language_sel">
    {% if language == "C" %}
        <option selected="selected">C</option>
    {% else %}
        <option>C</option>
    {% endif %}
<!--    <option>C++</option> -->
    {% if language == "JAVA" %}
        <option selected="selected">JAVA</option>
    {% else %}
        <option>JAVA</option>
    {% endif %}
    {% if language == "PYTHON" %}
        <option selected="selected">PYTHON</option>
    {% else %}
        <option>PYTHON</option>
    {% endif %}
</select>
<pre id="editor">
    {{ code | safe }}
</pre>

<button id="run">compile & run</button>
<b>Program Output</b>
<p id="output">Not run yet</p>
<br/><b>Input</b><br/>
<textarea id="input" rows="10" cols="25"></textarea>
<script src="{% static 'js/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/src-noconflict/ext-language_tools.js' %}"></script>
<script src="{% static 'js/jquery/jquery-2.2.3.min.js' %}"></script>
<script>
    var snippetManager = ace.require("ace/snippets").snippetManager;
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/java");
    editor.setOptions({
        enableBasicAutocompletion: true
    });



    $(document).ready(function(){

      $("#editor").on("keyup", function(e) {

        var keyCode = e.keyCode;

            if(keyCode != 91 && keyCode != 27 && keyCode != 18 && keyCode != 17 && keyCode != 20 && keyCode != 16 && keyCode != 37 && keyCode != 38 && keyCode != 39 && keyCode != 40){

                var v = editor.getValue();
                $.ajax(
                {
                    type:"POST",
                    url:"/save/",
                    data:{token: "{{ token }}", code: v, language: $("#language_sel").val()}
                }

                );
        }

      });


      //compile button
      $("#run").on("click", function() {

            $("#output").html("executing...<img src=\"{% static 'images/loading_anim.gif' %}\" width=200 height=150/>");

            $.ajax(
                {
                    type: "POST",
                    url: "/run/",
                    data:{token: "{{ token }}",input: $("#input").val()},

                    success:function(r){
                                $("#output").empty().append(r);
                            }

                }
            );

       });



    //language selector
    $("#language_sel").on('change',function(){
        $.ajax({
            type: "POST",
            url: "/lang_change/",
            data: {token: "{{ token }}",language: $("#language_sel").val()},

            success: function(r){



                        if (r != ''){
                            editor.setValue("");
                            snippetManager.insertSnippet(editor,r);

                        }
                    }

        });
    });

    });
</script>

</body>

</html>